#off-banner{
    background-image: url(/images/banner/b2.jpg);
    background-size: cover;
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#off-banner h4{
    font-size: 20px;
    color: #EAEBF0;
}

#off-banner h1{
    font-size: 46px;
    color: #EAEBF0;
    margin: 20px 0;
}

#off-banner button{
    background-color: #ffffff;
    color:black;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    transition: all 0.03s ease;
    font-size: 14px; 
}

#off-banner button:hover{
    background-color: #088178;
    color: white;
    cursor: pointer;
}

